@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,600;1,400;1,600&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$very-dark-blue: hsl(229, 57%, 11%);
$white: #FFFFFF;

$gradient-orange: hsl(6, 100%, 80%);
$gradient-pink: hsl(335, 100%, 65%);

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: {
        image: url(images/bg-desktop.png);
        repeat: no-repeat;
        position: right bottom;
        size: 100% 50%;
        color: $very-dark-blue;
    };

    font: {
        size: 14px;
        family: 'Raleway', sans-serif;
    };
}

section {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 25px;
}

.card-logo {
    background-color: $dark-blue;
    border-radius: 10px;
    border-top-right-radius: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 35px {
        right: 110px;
    }

    ;

    .logo {
        object-fit: contain;
        width: 130px;

        img {
            width: 100%;
        }
    }

    div {
        display: flex;
        gap: 15px;

        figure {
            object-fit: contain;
            background-color: $very-dark-blue;
            width: 45px;
            height: 45px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 50%;
            }
        }
    }
}

.card-data-storage {
    width: 500px;
    background-color: $dark-blue;
    border-radius: 10px;
    color: $pale-blue;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 35px;

    p {
        font-weight: 400;
        opacity: 90%;

        span {
            font-weight: 700;
        }
    }
}

.container-gb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    opacity: 90%;
}

.container-gb-left {
    width: 170px;
    position: relative;
    top: -60px;
    right: 0px;
    background-color: white;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    color: $grayish-blue;
    font-weight: 700;
    padding: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    :first-child {
        color: $very-dark-blue;
        font-size: 2.5em;
    }
}

.triangule-gb-left {
    position: absolute;
    width: 15px;
    height: 25px;
    bottom: -25px;
    right: 0px;

}

.bar-blue {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: lighten($very-dark-blue, 9%);
    border-radius: 15px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.bar-orange {
    position: relative;
    width: 80%;
    height: 90%;
    background: linear-gradient(90deg, $gradient-orange, $gradient-pink);
    border-radius: 15px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.circle-white {
    width: 9px;
    height: 9px;
    background-color: $pale-blue;
    border-radius: 50%;
}

@media (max-width: 376px) {
    body {
        background: {
            image: url(images/bg-mobile.png);
            repeat: no-repeat;
            size: cover;
        }
        width: 100%;
        height: 100vh;
    }

    section {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .card-logo,
    .card-data-storage{
        width: 85%;
    }
    .card-data-storage{
        font-size: 0.95em;
        text-align: center;
    }
    .bar-orange{
        width: 100%;
    }
    .container-gb-left{
        position: absolute;
        width: 55%;
        top: 50px;
        right: 65px;
        border-bottom-right-radius: 10px;
    }
    .triangule-gb-left{
        display: none;
    }
}