@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,600;1,400;1,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #d1d7e0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(auto, 280px);
  gap: 20px;
  margin: 3% 10%;
}
section .card-testimonial:first-of-type {
  background-color: hsl(263, 55%, 52%);
  border-radius: 10px;
  color: hsl(210, 46%, 95%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  padding: 25px;
  padding-left: 30px;
  grid-column: 1/3;
  grid-row: 1;
}
section .card-testimonial:first-of-type p {
  opacity: 70%;
  line-height: 1.5;
  font-weight: 400;
}
section .card-testimonial:first-of-type .container-user {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: hsl(210, 46%, 95%);
}
section .card-testimonial:first-of-type .container-user figure {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
}
section .card-testimonial:first-of-type .container-user figure img {
  width: 100%;
  border: 1px 1;
  border-radius: 50%;
}
section .card-testimonial:first-of-type .container-user div {
  display: flex;
  flex-direction: column;
  align-items: start;
}
section .card-testimonial:first-of-type .container-user div :nth-child(1) {
  font-weight: 600;
}
section .card-testimonial:first-of-type .container-user div :nth-child(2) {
  opacity: 50%;
}
section .card-testimonial:nth-of-type(2) {
  background-color: hsl(217, 19%, 35%);
  border-radius: 10px;
  color: hsl(0, 0%, 81%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  padding: 25px;
  padding-left: 30px;
  grid-column: 3;
  grid-row: 1;
}
section .card-testimonial:nth-of-type(2) p {
  opacity: 70%;
  line-height: 1.5;
  font-weight: 400;
}
section .card-testimonial:nth-of-type(2) .container-user {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: hsl(0, 0%, 81%);
}
section .card-testimonial:nth-of-type(2) .container-user figure {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
}
section .card-testimonial:nth-of-type(2) .container-user figure img {
  width: 100%;
  border: 1px 1;
  border-radius: 50%;
}
section .card-testimonial:nth-of-type(2) .container-user div {
  display: flex;
  flex-direction: column;
  align-items: start;
}
section .card-testimonial:nth-of-type(2) .container-user div :nth-child(1) {
  font-weight: 600;
}
section .card-testimonial:nth-of-type(2) .container-user div :nth-child(2) {
  opacity: 50%;
}
section .card-testimonial:nth-of-type(3) {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  color: hsl(219, 29%, 14%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  padding: 25px;
  padding-left: 30px;
  grid-column: 1;
  grid-row: 2;
}
section .card-testimonial:nth-of-type(3) p {
  opacity: 70%;
  line-height: 1.5;
  font-weight: 400;
}
section .card-testimonial:nth-of-type(3) .container-user {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: hsl(219, 29%, 14%);
}
section .card-testimonial:nth-of-type(3) .container-user figure {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
}
section .card-testimonial:nth-of-type(3) .container-user figure img {
  width: 100%;
  border: 1px 1;
  border-radius: 50%;
}
section .card-testimonial:nth-of-type(3) .container-user div {
  display: flex;
  flex-direction: column;
  align-items: start;
}
section .card-testimonial:nth-of-type(3) .container-user div :nth-child(1) {
  font-weight: 600;
}
section .card-testimonial:nth-of-type(3) .container-user div :nth-child(2) {
  opacity: 50%;
}
section .card-testimonial:nth-of-type(4) {
  background-color: hsl(219, 29%, 14%);
  border-radius: 10px;
  color: hsl(0, 0%, 81%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  padding: 25px;
  padding-left: 30px;
  grid-column: 2/4;
  grid-row: 2;
}
section .card-testimonial:nth-of-type(4) p {
  opacity: 70%;
  line-height: 1.5;
  font-weight: 400;
}
section .card-testimonial:nth-of-type(4) .container-user {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: hsl(0, 0%, 81%);
}
section .card-testimonial:nth-of-type(4) .container-user figure {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
}
section .card-testimonial:nth-of-type(4) .container-user figure img {
  width: 100%;
  border: 1px 1;
  border-radius: 50%;
}
section .card-testimonial:nth-of-type(4) .container-user div {
  display: flex;
  flex-direction: column;
  align-items: start;
}
section .card-testimonial:nth-of-type(4) .container-user div :nth-child(1) {
  font-weight: 600;
}
section .card-testimonial:nth-of-type(4) .container-user div :nth-child(2) {
  opacity: 50%;
}
section .card-testimonial:last-of-type {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  color: hsl(219, 29%, 14%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  padding: 25px;
  padding-left: 30px;
  grid-column: 4;
  grid-row: 1/3;
}
section .card-testimonial:last-of-type p {
  opacity: 70%;
  line-height: 1.5;
  font-weight: 400;
}
section .card-testimonial:last-of-type .container-user {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: hsl(219, 29%, 14%);
}
section .card-testimonial:last-of-type .container-user figure {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
}
section .card-testimonial:last-of-type .container-user figure img {
  width: 100%;
  border: 1px 1;
  border-radius: 50%;
}
section .card-testimonial:last-of-type .container-user div {
  display: flex;
  flex-direction: column;
  align-items: start;
}
section .card-testimonial:last-of-type .container-user div :nth-child(1) {
  font-weight: 600;
}
section .card-testimonial:last-of-type .container-user div :nth-child(2) {
  opacity: 50%;
}

@media (max-width: 770px) {
  body {
    height: auto;
  }
  section {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 1025px) {
  section {
    margin-left: 5%;
    margin-right: 5%;
  }
}/*# sourceMappingURL=stylesheet.css.map */