@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;800&family=Kumbh+Sans:wght@400;700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;800&family=Kumbh+Sans:wght@400;700&family=Open+Sans:ital@0;1&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin:  0px;
}
:root{
    /* Primary */
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);

    /* Accent */
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);

    /* Neutral */
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);

    /* others */
    --black: #000;
    --white: #fff;

    --padding: 50px;
    --padding-mobile: 30px;
}
body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    max-width: 1024px;
    margin: 0 auto;
}
header{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
}
header nav ul{
    display: flex;
    gap: 35px;
    list-style: none;
}
header nav ul a{
    color: var(--black);
    opacity: 80%;
    text-decoration: none;
}
.main-section{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    padding: var(--padding);
}
.container-main-section-info{
    width: 56%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto 0;
}
.title{
    font-size: 2.2rem;
    font-weight: 700;
}
.paragraph-letter{
    opacity: 96%;
}
.container-inputs{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-enter-email{
    width: 59%;
    color: var(--light-gray);
    padding: 14px 10px 10px 15px;
    border-radius: 5px;
}
.button-started{
    width: 39%;
    color: var(--white);
    background-color: var(--bright-blue);
    padding: 13px 0 13px;
    border: none;
    border-radius: 5px;
}
.button-started:hover{
    opacity: 80%;
    cursor: pointer;
}
.section-figure{
    width: 40%;
    margin: auto;
}
.section-figure img{
    width: 100%;
    object-fit: contain;
}
.container-figure{
    width: 100%;
}
.container-figure img{
    width: 100%;
    object-fit: contain;
}
.secondary-section{
    background-color: var(--light-grayish-blue);
    display: flex;
    margin-top: -6px;
    padding: var(--padding);
    padding-bottom: 80px;
}
.container-secondary-section-info{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.container-plan{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.link-how-works{
    width: 33%;
    filter: brightness(105%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--moderate-cyan);
}
.link-how-works a{
    color: var(--moderate-cyan);
    text-decoration: none;
    padding-bottom: 5px;
}
.link-how-works:hover{
    filter: brightness(130%);
    cursor: pointer;
}
.user-comment{
    width: 57%;
    font-size: 0.85rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 35px;
    border-radius: 5px;
}
.user{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user figure{
    width: 30%;
    border-radius: 50%;
}
.user figure img{
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.user-name{
    font-size: 0.7rem;
    font-weight: 700;
}
.user-job{
    font-size: 0.5rem;
}
.section-access{
    background-color: var(--desaturated-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px var(--padding);
}
.get-early-access-info{
    width: 50%;
    color: var(--light-grayish-blue);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.get-early-access-info p{
    opacity: 80%;
}
.get-early-access-inputs{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-email{
    width: 90%;
    color: var(--light-gray);
    padding: 13px 10px 13px 15px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
}
.button-started-free{
    width: 50%;
}
.footer{
    background-color: var(--very-dark-blue);
    color: var(--light-grayish-blue);
    display: flex;
    flex-direction: column;
    padding: 80px var(--padding);
}
.footer-logo{
    filter: contrast(100);
    opacity: 80%;
}
.container-footer-info{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.contact-info{
    display: flex;
    gap: 10px;
}
.container-footer-info ul{
    opacity: 80%;
    list-style: none;   
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container-footer-info a{
    color: var(--light-grayish-blue);
    text-decoration: none;
}
.container-footer-info li:hover,
.container-footer-info a:hover{
    color: var(--desaturated-blue);
    filter: brightness(150%);
    cursor: pointer;
}

@media (max-width: 376px) {
    header{
        padding: var(--padding-mobile);
    }
    header figure{
        width: 25%;
    }
    header figure img{
        width: 100%;
        object-fit: contain;
    }
    header nav ul{
        gap: 15px;
    }
    .main-section{
        flex-direction: column-reverse;
        padding: 0 var(--padding-mobile);
    }
    .container-main-section-info{
        width: 100%;
        gap: 25px;
    }
    .section-figure{
        width: 100%;
        margin-bottom: 30px;
    }
    .title{
        font-size: 1.5rem;
        text-align: center;
    }
    .main-section .paragraph-letter{
        text-align: center;
    }
    .container-inputs{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .input-enter-email, .button-started{
        width: 100%;
    }
    .section-figure img{
        content: url(/fylo-landing-page-with-two-column-layout-master/images/bg-curve-mobile.svg);
    }
    .secondary-section{
        flex-direction: column-reverse;
        padding: var(--padding-mobile);
    }
    .secondary-section .title{
        font-size: 1rem;
    }
    .container-secondary-section-info{
        width: 100%;
    }
    .container-plan{
        width: 100%;
    }
    .container-plan p{
        opacity: 80%;
    }
    .link-how-works{
        width: 152px;
        font-size: 0.9rem;
        justify-content: flex-start;
        gap: 5px;
        margin: 25px auto;
    }
    .user-comment{
        width: 95%;
        margin: auto;
    }
    .user{
        width: 120px;
    }
    .user-name{
        font-size: 0.5rem;
    }
    .user-job{
        font-size: 0.45rem;
    }
    .section-access{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: var(--padding-mobile);
    }
    .section-access div{
        width: 100%;
    }
    .get-early-access-info{
        align-items: center;
        text-align: center;

    }
    .get-early-access-info h2{
        font-size: 1rem;
    }
   .input-email, .button-started-free{
    width: 280px;
    align-self: center;
   }
   .footer{
    padding: 60px var(--padding-mobile);
   }
   .container-footer-info{
    flex-direction: column;
    gap: 50px;
   }
   .img-social-media{
    align-self: center;
   }
}